<% @companies.each do |city| %>
<%= link_to city, ("#{companies_path}""?location=""#{city}") %>
<% end %>
<h4> Top Three Companies Average Level of interest </h4>
<ol>
<% @company.each do |k, v| %>
<li><%= Company.find(k).name %>'s jobs have a <%= v %> average level of Interest</li>
<% end %>
</ol>

<p> Count of Jobs by level of interst </p>
  <% @job.each do |first, second| %>
  <ul>
   <li><%=second.to_s%> Jobs with a level of interest of  <%= first %></li>
 </ul>
   <% end  %>
