<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Job Tracker</title>
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
</head>

<div class='navbar navbar-inverse'>
<a class='navbar-brand'  <%= link_to "Dashboard", dashboard_index_path %> </a>
<a class='navbar-brand'  <%= link_to "Categories", categories_path %> </a>

</div>


<h3>All Companies</h3>

<% @companies.each do |company| %>
  <ul class=company_<%= company.id %>>
    <%= link_to company.name, company_path(company) %> - <%= company.city %><br>
    <%= link_to "Edit", edit_company_path(company) %>
    <%= link_to "Delete", company_path(company), method: "delete" %>
  </ul>
<% end %>
